<!-- home_app/templates/home_app/home.html -->
{% extends 'home_app/base.html' %} {% load static%} {% block title %}AFRDC - About{% endblock %}
{% block content %}
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#131416] tracking-light text-[32px] font-bold leading-tight min-w-72">About Us</p></div>
            
                
                <h2 class="text-[#131416] text-xl font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"><i class="fa fa-history pe-4"></i>History of AFRDI</h2>
            
            <p class="text-[#131416] text-base font-normal leading-normal pb-3 pt-1 px-4">
              The Air Force Research Institute (AFRDI) was established in 1950 with a mission to advance aerospace technologies and support national defense. Over the decades, AFRI
              has been at the forefront of numerous breakthroughs, from pioneering jet propulsion systems to developing cutting-edge materials for spacecraft. Our legacy is built
              on a foundation of innovation, collaboration, and a commitment to excellence. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa asperiores nemo rerum libero, aut laudantium vero qui quaerat placeat tempora impedit, numquam velit dolores totam omnis dolorem voluptatibus, adipisci commodi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi at nulla sunt provident, inventore quas consequuntur eius consectetur ab doloremque nihil reiciendis perferendis quae debitis blanditiis atque laborum ratione. Quam.
              Blanditiis, fuga ab? Cum id neque soluta minus ullam ducimus ea aliquid quisquam consequatur, sint, saepe amet provident non ipsum dolores doloribus molestias, quam laborum debitis! Possimus tempora dolorum a!
            </p>
            <h2 class="text-[#131416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"> <i class="fa fa-bullseye pe-4" ></i>Our Mission</h2>
            <p class="text-[#131416] text-base font-normal leading-normal pb-3 pt-1 px-4">
              {{ mission.text }}
            </p>
            
            <h2 class="text-[#131416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"><i class="fa-solid fa-eye pe-4"></i>Director General's Vision</h2>
            <p class="text-[#131416] text-base font-normal leading-normal pb-3 pt-1 px-4">
              {{vision.text}}
            </p>
            <h2 class="text-[#131416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5" id="dg">Leadership</h2> 

            {% for staff in staff%}
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl flex-wrap ">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#131416] text-base font-bold leading-tight">{{staff.name}}</p>
                  <p class="text-[#6b7580] text-sm font-normal leading-normal">{{staff.appointment}}</p>
                  <p>{{staff.profile}}</p>
                </div>
                <img src={{staff.image.url}} class="w-full lg:w-1/4" alt="{{ pers.name }}">
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

{% endblock %}


